<div class="container">
    <div class="row">
        <h1 style="text-align: center;">DTCC Spring and Angular Usecase</h1>
    </div>
    <div class="row">
        <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">First Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput"  placeholder="Name"
                        formControlName="firstName">
                </div>
         
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Coins</label>
                    <input type="number" class="form-control" id="inlineFormInput" placeholder="Coins"
                        formControlName="coins">
                </div>
                
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" [disabled]="!myForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Coins</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList | keyvalue; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{employee.key}}</td>
                    <td>{{employee.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>